*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 80px ;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    margin: 0;
}
section{
    min-height: auto;
     scroll-margin-top: 80px;
}
/* NAVBAR*/
nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}
label.logo{
    color: white;
    font-size: 25px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    float: left;
}
nav ul{
    float:right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    transition: 0.3s;
}
a.active,a:hover{
    background: #1b9bff;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;

    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%; 
    text-align: center;
    transition: left 0.5s;
    z-index: 999;
}


    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
        color: white;
    }
    a:active,a:hover{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
        overflow-y: hidden;
    }
}
/*HERO*/
.hero {
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 8%;
    background: #ffffff;
}
.hero-container {
    max-width: 1100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 42px;
    color: #222;
    margin-bottom: 10px;
}

.hero-text h2 {
    font-size: 22px;
    color: #0082e6;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 17px;
    line-height: 1.7;
    color: #555;
    margin-bottom: 25px;
}

.hero-btn {
    display: inline-block;
    padding: 12px 30px;
    background: #0082e6;
    color: #fff;
    border-radius: 25px;
    text-decoration: none;
    transition: 0.3s ease;
}

.hero-btn:hover {
    background: #006bbd;
}
.hero-social {
    margin-top: 50px;
    display: flex;
    gap: 28px;
    align-items: center;
}

.hero-social a {
    width: 50px;              
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;      
    background: #f2f6ff;
    font-size: 20px;          
    color: #0082e6;
    box-shadow: 0 8px 20px rgba(0, 130, 230, 0.15);
    transition: all 0.35s ease;
}

/* Hover Effect */
.hero-social a:hover {
    transform: translateY(-8px) scale(1.08);
    background: #f2f6ff;
    color: #0082e6;
    box-shadow: 0 15px 35px rgba(0, 130, 230, 0.35);
}
.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img {
    width: 300px;
    height: 340px;
    object-fit: cover;
    border-radius: 20px;        
    border: 6px solid #ffffff;  
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.12);  
    transition: 0.3s ease;
}
.hero-image img:hover {
    transform: translateY(-5px);
}
@media (max-width: 900px) {
    .hero-container {
        flex-direction: column-reverse;
        text-align: center;
    }
    .hero {
    padding-top: 10px;
    }
    .hero-image{
        margin-bottom: 20px;
    }
    .hero-text h1 {
        font-size: 32px;
    }

    .hero-text h2 {
        font-size: 18px;
    }

    .hero-text p {
        font-size: 15px;
    }
    .hero-social {
    justify-content: center;
    }

    .hero-image img {
        width: 240px;
        height: 280px;
        margin-bottom: 20px;
    }
}

.about{
    padding: 0px 50px;
    min-height: 80vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;

}
.about-container{
    max-width: 1100px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;
    
}
.about-image img{
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 28px;
    box-shadow: 0 10px 25px rgba(0,130,230,0.25),
                0 25px 50px rgba(0,0,0,0.15);
    transition: 0.4s ease;
}
.about-image img:hover{
    transform: translateY(-6px) scale(1.02);
    box-shadow: 0 15px 35px rgba(0,130,230,0.35),
                0 30px 60px rgba(0,0,0,0.2);
}
.about-content{
    max-width: 600px;
}
.about-content h3{
    font-size: 16px;
    text-transform: uppercase;
    color: #0082e6;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.about-content h2{
    font-size: 36px;
    color: #222;
    margin-bottom: 20px;
}
.about-content p{
    font-size: 17px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 15px;
}
.about-btn{
    display: inline-block;
    margin-top: 15px;
    padding: 12px 34px;
    background: #0082e6;
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
    transition: 0.3s ease;
}
.about-btn:hover{
    background: #006bbd;
    transform: translateY(-2px);
}
@media(max-width:900px){
    .about{
        padding:60px 20px;
    }
    .about-container{
        flex-direction: column;
        text-align: center;
    }
    .about-content p{
        text-align: start;
    }
   .about-image img{
    width: 220px;
    height: 220px;
    margin-bottom: 30px;
   } 
}

/* skill section */

.skills{
    padding: 60px 50px;
    min-height: 80vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #ffffff;
}
.skills h2{
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
    color: #222;
}
.skill-box{
    max-width:600px;
    margin:0 auto 40px;
    text-align: left;
}
.timeline{
  max-width:600px;
  margin:30px auto;
  border-left:2px solid #0082e6;
  padding-left:20px;
}

.row{
  margin-bottom:25px;
}

.left{
  margin-left:-20px;
}

.right{
  margin-left:40px;
}

.row h4{
  color:#0082e6;
  margin-bottom:5px;
}

.row p{
  margin:0;
  color:#555;
}

.row span{
  font-size:14px;
  color:#777;
}


.skill-box h3{
    color: #222;
    margin-bottom: 12px;
}
.skill-box p{
    margin:10px 0 5px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}
.percent{
    color: #222;
    font-weight: bold;
}
.bar{
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 10px;
    margin-bottom: 10px;
}
.fill{
    height: 100%;
    background: #0082e6;
    border-radius: 10px;
}
.python{
    width: 70%;
}
.sql{
    width: 80%;
}
.html{
    width: 85%;
}
.css{
    width: 70%;
}
/* EDUCATION - MINIMAL PROFESSIONAL */

.education {
    padding: 80px 10%;
}

.education h2 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 32px;
    font-weight: 600;
}

.education-row {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    position: relative;
}
.education-row::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background: #ddd; /* thin professional grey */
}

.edu-block {
    flex: 1;
    padding: 0 30px;
}

.edu-block h3 {
    font-size: 20px;
    margin-bottom: 8px;
}

.institution {
    color: #555;
    margin-bottom: 5px;
}

.duration {
    color: #0082e6; /* your theme color */
    font-size: 14px;
    margin-bottom: 12px;
}

.desc {
    color: #444;
    line-height: 1.6;
}
@media(max-width:900px){
    .skills{
        padding: 40px 20px;
    }
    .education-row {
        flex-direction: column;
        gap: 40px;
    }

    .education-row::after {
        display: none;
    }
}
/* project section */

.projects {
    padding: 60px 50px;
    min-height: 80vh;
    text-align: center;
    background: #ffffff;
}

.projects h2 {
    font-size: 32px;
    color: #222;
    margin-bottom: 40px;
}

.projects-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.project-card {
    background: #fff;
    border-radius: 20px;
    padding: 30px 20px;
    width: 300px;
    box-shadow: 0 10px 25px rgba(0,130,230,0.15);
    transition: transform 0.3s, box-shadow 0.3s;
}
.project-card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 15px;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 35px rgba(0,130,230,0.25);
}

.project-card h3 {
    font-size: 20px;
    color: #0082e6;
    margin-bottom: 15px;
}

.project-card p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}
@media (max-width: 900px){
    .projects-card{
        width: 45%;

    }
    
}
@media (max-width: 600px) {
    .project-card {
        width: 100%;
    }
}

/* contact section*/
.contact {
    padding: 60px 50px;
    min-height: 80vh;
    background: #f7f9fc;
    text-align: center;
    background: #ffffff;
}

.contact h2 {
    font-size: 32px;
    color: #222;
    margin-bottom: 40px;
}

.contact-container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 30px;
}
.contact-info{
    
    text-align: left;
}
.contact form{
    flex: 2;
}
.info-item {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
}

.info-item i {
    font-size: 20px;
    margin-top: 4px;
}

.info-item p {
    margin-top: 4px;
    font-size: 16px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form input{
    padding: 12px 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
}
form textarea{
    padding: 12px 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
    height: 200px;
}

form button {
    padding: 10px 28px;
    width: auto;
    background: #0082e6;
    color: #fff;
    font-size: 14px;
    border: none;
    align-self: center;
    border-radius: 24px;
    cursor: pointer;
    transition: 0.3s ease;
}

form button:hover {
    background: #006bbd;
    transform: translateY(-2px);
}
@media (max-width: 600px) {

  .contact {
    padding: 40px 20px;
  }

  .contact-container {
    flex-direction: column;
    gap: 30px;
  }

  .contact-info {
    text-align: left;
  }

  .info-item {
    align-items: flex-start;
  }

  .info-item i {
    font-size: 18px;
  }

  form textarea {
    height: 160px;
  }

  form button {
    width: 100%;
    align-self: stretch;
  }
}
@media (max-width: 900px) {

  .contact-container {
    flex-direction: column;
    gap: 35px;
  }

  .contact-info {
    text-align: left;
  }
}

/*footer section*/

.footer {
  background: #0082e6;
  padding: 20px 0;
}

.footer-container {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.footer-nav {
  margin-bottom: 10px;
}

.footer-nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 12px;
  font-size: 14px;
}
.footer-nav a:hover {
  text-decoration: none;
}

.footer-text {
  color: #fff;
  font-size: 13px;
}
.footer-icons {
    margin: 15px 0;

}
.footer-icons a {
    color: #fff;
    font-size: 26px;
    margin: 0 15px;
    text-decoration: none;
}
.footer-icons a:hover {
    color: #dbefff;
}
@media (max-width: 600px) {

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 22px;
  }

  .footer-nav a {
    display: block;
    margin: 6px 0;
    font-size: 18px;
  }
  .footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    margin-bottom: 18px;
  }

  .footer-icons a {
    font-size: 28px;
  }
  .footer-text {
    font-size: 12px;
    text-align: center;
    line-height: 1.6;
  }
}

@media (max-width: 900px) {

  .footer-nav a {
    margin: 0 8px;
    font-size: 14px;
  }

  .footer-icons a {
    font-size: 24px;
    margin: 0 12px;
  }
}


